#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Mail New Message
Exec=./node_modules/.bin/nodewebkit _public
Icon=./app/_public/images/icon.svg
StartupWMClass=crx_pjkljhegncpnkpknbcohdijeoejaedia
