doctype html
html(ng-app='gmail-send-mail', ng-controller="mainController")
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width', initial-scale='1.0')
        meta(name='description', content='')
        meta(name='author', content='')
        title
        link(rel='stylesheet', href='css/app.css')
        //- templates
        script(type="text/ng-template", id="partials/dropdown"): include partials/dropdown.jade
        script(type="text/ng-template", id="partials/popover"): include partials/popover.jade
        script(type="text/ng-template", id="partials/popover-font-toolbar"): include partials/popover-font-toolbar.jade
        script(type="text/ng-template", id="partials/select"): include partials/select.jade
        script(type="text/ng-template", id="partials/font-toolbar"): include partials/font-toolbar.jade
        script(type="text/ng-template", id="partials/font-sans-serif"): include partials/font-sans-serif.jade
        script(type="text/ng-template", id="partials/font-serif"): include partials/font-serif.jade
        script(type="text/ng-template", id="partials/font-wide"): include partials/font-wide.jade
        script(type="text/ng-template", id="partials/font-narrow"): include partials/font-narrow.jade
        script(type="text/ng-template", id="partials/font-comic-sans-ms"): include partials/font-comic-sans-ms.jade
        script(type="text/ng-template", id="partials/font-courier-new"): include partials/font-courier-new.jade
        script(type="text/ng-template", id="partials/font-garamond"): include partials/font-garamond.jade
        script(type="text/ng-template", id="partials/font-georgia"): include partials/font-georgia.jade
        script(type="text/ng-template", id="partials/font-tahoma"): include partials/font-tahoma.jade
        script(type="text/ng-template", id="partials/font-trebuchet-ms"): include partials/font-trebuchet-ms.jade
        script(type="text/ng-template", id="partials/font-verdana"): include partials/font-verdana.jade
        script(src='js/app.js')
  body(w-mousetrap="{'esc': showDevTools}")
    .panel.panel-default.panel-main
      .panel-heading
        nav.navbar.navbar-toolbar.navbar-inverse.toolbar-gmail-send(role='navigation')
          .container-fluid
            .row
              .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                p.navbar-text
                  | New Message [Header size: {{$root.headerWidth}} x {{$root.headerHeight}}]
              .collapse.navbar-collapse
                .navbar-right
                  form.navbar-form.navbar-left
                    button.btn.btn-invert(ng-click="config()")
                      i.fa.fa-cog
                  form.navbar-form.navbar-left
                    button.btn.btn-win(ng-click="minimize()")
                      i.fa.fa-minus
                  form.navbar-form.navbar-left
                    button.btn.btn-win(ng-click="toggleMax()")
                      i.fa(ng-class="{'fa-expand': !$root.window.isMax, 'fa-compress': $root.window.isMax }")
                  form.navbar-form.navbar-left
                    button.btn.btn-win(ng-click="close()")
                      i.fa.fa-times
      .panel-body(style="height: {{height - $root.headerHeight - $root.footerHeight }}px;")
        .e-mail-content
          .row.e-mail-setting
            .col-xs-12
              div
                | To [Total size: {{width}} x {{height}}]
            .col-xs-12
              div
                | form [Footer size: {{$root.footerWidth}} x {{$root.footerHeight}}]
            .col-xs-12
              div
                | Subject [E-Mail-Setting size: {{$root.settingWidth}} x {{$root.settingHeight}}]  [E-Mail-Content size: {{$root.contentWidth}} x {{$root.contentHeight}}] 
          .e-mail-text(style="height: {{height - $root.headerHeight - $root.footerHeight - $root.settingHeight }}px;")
            .row
              .col-xs-12
                div(text-angular="text-angular", name="htmlcontent", ng-model="htmlcontent", ta-text-editor-class="angulat-text-content", ta-target-toolbars='toolbar')
      .panel-footer
        nav.navbar.navbar-toolbar.toolbar-gmail-send(role='navigation')
          .container-fluid
            .row
              .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.bs-example-toolbar-collapse-1')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
              .collapse.navbar-collapse
                form.navbar-form.navbar-left(role='send')
                  button.btn.btn-primary(style="min-width: 72px", type='submit') Send
                form.navbar-form.navbar-left
                  //- TODO: use toolbar in this style
                  //- button.btn.btn-default.btn-trans.font-popover-button(data-container="body", data-template="partials/popover", data-placement="top-left", data-html='true', data-content-template="partials/font-toolbar", bs-popover)
                  //-   i.fa.fa-font
                  //- WORKAROUND TextAngularToolbar, hast not exact the right style like gmail toolbar
                  button.btn.btn-default.btn-trans.font-popover-button(ng-mouseenter="$root.showToolbar()", ng-mouseleave="$root.hideToolbar()")
                    i.fa.fa-font
                form.navbar-form.pull-left
                  .divider
                form.navbar-form.navbar-left
                  button.btn.btn-default.btn-trans
                    i.fa.fa-paperclip
                form.navbar-form.navbar-left
                  button.btn.btn-default.btn-trans
                    i.fa.fa-plus
                .navbar-right
                  form.navbar-form.pull-left
                    button.btn.btn-default.btn-trans
                      i.fa.fa-trash-o
                  form.navbar-form.pull-left
                    .divider
                  form.navbar-form.pull-left.dropdown-menu-right
                    button.btn.btn-default.btn-trans.dropdown(type='button', data-template='partials/dropdown', data-html='true', data-placement='top', bs-dropdown='dropdown')
                      b.caret
        ng-include(ng-show="$root._showToolbar", src="'partials/popover-font-toolbar'",  ng-mouseenter="$root.showToolbar()", ng-mouseleave="$root.hideToolbar()")