nav.navbar.navbar-toolbar.toolbar-gmail-send(role='navigation')
  .container-fluid
    .row
      form.navbar-form.navbar-left
        button.btn.btn-default.btn-trans(type='button', ng-model='selectedFont', data-template='partials/select', data-html='true', data-placement='top', ng-options='font.value as font.label for font in fonts', bs-select='bs-select')
      form.navbar-form.pull-left
        .divider
      form.navbar-form.navbar-left
        button.btn.btn-default.btn-trans
          i.fa.fa-bold
      form.navbar-form.navbar-left
        button.btn.btn-default.btn-trans
          i.fa.fa-italic
      form.navbar-form.navbar-left
        button.btn.btn-default.btn-trans
          i.fa.fa-underline
      form.navbar-form.navbar-left
        button.btn.btn-default.btn-trans
          i.fa.fa-font(style="color:blue")
          i.fa.fa-caret-up
      form.navbar-form.pull-left
        .divider
      form.navbar-form.navbar-left
        button.btn.btn-default.btn-trans
          i.fa.fa-align-left
          i.fa.fa-caret-up
      form.navbar-form.navbar-left
        button.btn.btn-default.btn-trans
          i.fa.fa-list-ol
      form.navbar-form.navbar-left
        button.btn.btn-default.btn-trans
          i.fa.fa-list-ul
      form.navbar-form.navbar-left
        button.btn.btn-default.btn-trans
          i.fa.fa-outdent
      form.navbar-form.navbar-left
        button.btn.btn-default.btn-trans
          i.fa.fa-indent
      form.navbar-form.navbar-left
        button.btn.btn-default.btn-trans
          i.fa.fa-quote-right
      form.navbar-form.pull-left
        .divider
      form.navbar-form.navbar-left
        button.btn.btn-default.btn-trans
          i.fa.fa-eraser