.popover-toolbar.popover.top-left(style="bottom: {{$root.footerHeight }}px; display: block; top: auto; left: auto")
  .arrow
  .popover-content
    nav.navbar.navbar-toolbar.toolbar-gmail-send(role='navigation')
      .container-fluid
        div(text-angular-toolbar="text-angular-toolbar", name="toolbar")